* {
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 1180px;
    margin: 0 auto;
}


@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/titles';
@import 'blocks/forms';